<div class="main">
    <div class="top"></div>
    <div class="top1"></div>
    <div class="top2"></div>
    <div class="content">
        <div class="nav">
            <div>
                <p-button routerLink="home" styleClass="p-button-text p-button-raised" label="Home" icon="pi pi-home"></p-button>
            </div>
            <div class="right">
                <p-button routerLink="history" styleClass="p-button-text p-button-info p-button-raised" *ngIf="connected" label="History" icon="pi pi-list"></p-button>
                <p-button routerLink="withdraw" styleClass="p-button-text p-button-success p-button-raised" *ngIf="connected" label="Withdraw" icon="pi pi-arrow-down-left"></p-button>
                <p-button routerLink="deposit" styleClass="p-button-text p-button-warning p-button-raised" *ngIf="connected" label="Deposit" icon="pi pi-arrow-up-right"></p-button>
                <p-button (onClick)="connect()" styleClass="p-button-text p-button-danger p-button-raised" *ngIf="connected" icon="pi pi-sign-out"></p-button>
                <p-button (onClick)="connect()" styleClass="p-button-text p-button-success p-button-raised" label="Connect" *ngIf="!connected" icon="pi pi-sign-in" iconPos="right"></p-button>
            </div>
            <div class="mobile">
                <p-button (click)="sidebarVisible = true" styleClass="p-button-text p-button-info p-button-raised" icon="pi pi-bars"></p-button>
            </div>
        </div>

        <div class="row-center">
            <div class="icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        
        <div class="row-center">
            <div class="bottom">
                Swift.Ly
            </div>
        </div>
        
        <div class="stats">
            <div class="card purple-card">
                <div class="row-center">
                    <div class="value">14,854,136</div>
                </div>
                <div class="row-center">
                    <div class="descr">Deposits</div>
                </div>
            </div>
            <div class="card orange-card">
                <div class="row-center">
                    <div class="value">10,854,130</div>
                </div>
                <div class="row-center">
                    <div class="descr">Withdrawals</div>
                </div>
            </div>
            <div class="card green-card">
                <div class="row-center">
                    <div class="value">25,708,266</div>
                </div>
                <div class="row-center">
                    <div class="descr">Transactions</div>
                </div>
            </div>
        </div>
        
        <div class="separator"></div>

        <router-outlet></router-outlet>

    </div>
</div>

<div class="theme-wrapper">
    <div class="theme">
        <p-button (onClick)="changeTheme()" styleClass="p-button-raised p-button-outlined p-button-rounded" icon="pi pi-sun"></p-button>
        <p-button styleClass="p-button-raised p-button-outlined p-button-rounded" icon="pi pi-moon"></p-button>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right">
    <div class="mobile-nav">
        <p-button styleClass="p-button-text p-button-sm p-button-raised" label="History" icon="pi pi-list" iconPos="right"></p-button>
        <p-button styleClass="p-button-text p-button-sm p-button-warning p-button-raised" label="Deposit" icon="pi pi-arrow-up-right" iconPos="right"></p-button>
        <p-button styleClass="p-button-text p-button-sm p-button-success p-button-raised" label="Withdraw" icon="pi pi-arrow-down-left" iconPos="right"></p-button>
        <p-button styleClass="p-button-text p-button-sm p-button-info p-button-raised" label="Connect" *ngIf="connected" icon="pi pi-sign-in" iconPos="right"></p-button>
    </div>
</p-sidebar>


