.main {
    position: relative;
    width: 100%;
    height: 98vh;
}

.main .top, .main .top1, .main .top2 {
    position: absolute;
    left: 0;
    right: 25%;
    top: 0;
    bottom: 0;
    opacity: 0.1;
}

.main .top {
    top: 10px;
    border-radius: 45% 0 0 0;
    border-left: 50px blueviolet solid;
}

.main .top1 {
    margin-left: 60px;
    top: 10px;
    border-radius: 45% 0 0 0;
    border-left: 50px orangered solid;
}

.main .top2 {
    margin-left: 120px;
    top: 10px;
    border-radius: 45% 0 0 0;
    border-left: 50px greenyellow solid;
}

.main .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main .content .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px -1px purple;
    gap: 10px;
}

.right {
    display: flex;
    gap: 10px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media only screen and (max-width: 720px) {
    .right {
        display: none;
    }
}

@media only screen and (min-width: 720px) {
    .mobile {
        display: none;
    }
}